.stat-tile {
  display: grid;
  justify-items: center;
  gap: 0;
  height: 100%;
  grid-template-rows: 1fr auto;
}

.stat-tile__value {
  font:
    normal normal 600 50px/68px 'Open Sans',
    sans-serif;
  letter-spacing: 0px;
  color: #333333;
  align-self: center;
}

.stat-tile__label {
  width: 100%;
  height: 24px;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.1);
  font:
    normal normal 600 10px/14px 'Open Sans',
    sans-serif;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
}
